project/boot
target
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
tests.iml
.ignore
result*
project/metals.sbt
.bloop/
.bsp/
.metals/
project/.bloop/
redis-data/
metals.sbt
.vscode